/* Navbar */
* {
    /*box-sizing: border-box;*/
}

.Snav {
    top: 20vh;
    display: flex;
    position: sticky;
    font-size: 1.2rem;
    background: rgba(93, 93, 93, 0.36);
    width: 150px;
    border-radius: 45px;
    justify-content: center;
}

.sNav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 15rem;
}

.Snav li a{
    color: inherit;
    transition-duration: 0.2s;
    list-style-type: none;
    margin: 1rem;
    padding: 0.7rem;
    background: #9F9F9F;
    border-radius: 45px;
    /*text-align: center;*/
}
.sNav li {
    list-style-type: none;
}

.Snav li a:hover {
    transition-duration: 0.2s;
}

.navLinks a {
    text-decoration: none;
    color: white;
}

.headerGradient {
    background: linear-gradient(to right, #FF8AFF 15%, #9EFEC3 85%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    font-weight: bold;
    font-size: 2rem;
    transition-duration: 5s;
}

.headerGradient:hover {
    background: linear-gradient(to left, #FF8AFF 15%, #9EFEC3 85%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration: 5s;

}